{% extends "main/base.html" %}

{% block title %}О нас - Luxe Lagoon{% endblock %}

{% block content %}
    <h1>О нас</h1>
    <p>Добро пожаловать в Luxe Lagoon — ваш идеальный оазис для автомобиля! Мы — команда профессионалов, которые заботятся о каждой детали вашего авто. Наша цель — предоставить услуги высокого качества, которые сделают вашу машину не только чистой, но и сияющей.</p>
    <p>В Luxe Lagoon мы используем только экологически чистые моющие средства и современное оборудование, чтобы гарантировать безопасную и эффективную мойку. Мы предлагаем широкий спектр услуг: от стандартной мойки до детальной химчистки, полировки и защиты кузова.</p>
    <p>Наша автомойка расположена в удобном месте, чтобы вы могли легко заехать к нам в любое время. Мы ценим ваше время и предлагаем быстрое и качественное обслуживание, чтобы вы могли снова наслаждаться поездками на своем автомобиле.</p>
    <p>Присоединяйтесь к числу наших довольных клиентов и позвольте нам превратить заботу о вашем автомобиле в приятное и комфортное времяпрепровождение. Luxe Lagoon — это не просто мойка, это забота о вашем автомобиле!</p>
{% endblock %}
