<!-- main/templates/main/contacts.html -->

{% extends "main/base.html" %}
{% load static %}

{% block title %}Контакты - Luxe Lagoon{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <style>
        /* Задаём высоту карты */
        #map {
            height: 500px;
            width: 100%;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Контакты</h1>
    <div>
        <h2>Адрес</h2>
        <div id="map"></div> <!-- Контейнер для карты -->

        <!-- Контейнер для карточек адресов -->
         <div class="address-cards-container">
            {% for location in locations %}
                <div class="address-card" onclick="openYandexMaps({{ location.latitude }}, {{ location.longitude }})">
                    <h3>{{ location.city }}</h3>
                    <p>{{ location.address }}</p>
                </div>
            {% endfor %}
        </div>

        <h2>Время работы</h2>
        <p>Ежедневно с 10:00 до 22:00</p>

        <h2>Контакты</h2>
        <p>Телефон: +7 (987) 172-20-10</p>
        <p>Email: LuxeLagoon@mail.ru</p>
    </div>

    <script id="locations-data" type="application/json">
        {{ locations_data|safe }}
    </script>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script src="{% static 'main/js/map.js' %}"></script>
{% endblock %}
