{% extends "main/base.html" %}

{% load static %}
{% block title %}Мои заявки{% endblock %}

{% block content %}
    <h1>Редактирование заявки: {{ booking.service.name }}</h1>

    <form method="post">
        {% csrf_token %}

        <!-- Поле для выбора даты -->
        <label for="id_date">Дата:</label>
        <input type="text" id="id_date" name="date" class="date-picker" value="{{ booking.date }}" placeholder="Выберите дату" required>

        <!-- Поле для выбора времени -->
        <label for="id_time">Время:</label>
        <input type="text" id="id_time" name="time" class="time-picker" value="{{ booking.time }}" placeholder="Выберите время" required>

        <button type="submit">Сохранить изменения</button>
    </form>
{% endblock %}


{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static 'main/css/booking.css' %}">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        // Инициализация Flatpickr для выбора даты и времени
        document.addEventListener("DOMContentLoaded", function() {
            flatpickr(".date-picker", {
                dateFormat: "Y-m-d",
                altInput: true,
                altFormat: "F j, Y",
                defaultDate: "{{ booking.date|date:'Y-m-d' }}", // установка текущей даты для редактирования
                minDate: "today" // запрещаем выбор прошедших дат
            });
            flatpickr(".time-picker", {
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i",
                time_24hr: true,
                defaultDate: "{{ booking.time|time:'H:i' }}" // установка текущего времени для редактирования
            });
        });
    </script>
{% endblock %}