{% extends "main/base.html" %}

{% load static %}
{% block title %}Мои заявки{% endblock %}

{% block content %}
    <div class="table-container">
        <h2 class="table-title">Мои заявки</h2>
        <table>
            <thead>
                <tr>
                    <th>Услуга</th>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.service.name }}</td>
                        <td>{{ booking.date }}</td>
                        <td>{{ booking.time }}</td>
                        <td>
                            <a href="{% url 'payment_redirect' booking.id %}" class="button">Оплатить</a> |
                            <a href="{% url 'delete_booking' booking.id %}" style="color: #FF4D4D;">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'main/css/booking.css' %}">
{% endblock %}